<h2>Paises</h2>
<hr />

<ul class="list-group">
  <!-- <li class="list-group-item" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home Page</li>
  <li routerLink="about" class="list-group-item" routerLinkActive="active">About Page</li> -->
  <li routerLink="countries/by-capital" class="list-group-item" routerLinkActive="active">By Capital</li>
  <li routerLink="countries/by-country" class="list-group-item" routerLinkActive="active">By Country</li>
  <li routerLink="countries/by-region" class="list-group-item" routerLinkActive="active">By Region</li>
</ul>
